* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.nav-title {
    text-align: center;
    background-color: aqua;
    padding: 20px;
}
.nav-main {
    background-color: rgb(0, 0, 0);
    padding: 25px;
    justify-content: space-evenly;
}
.nav-main ul.barra-menu {
    display: flex;
    font-size: larger;
    align-items: center;
    color: white;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.titulo-principal .subheading {
    cursor: pointer;
}
ul div {
    text-decoration: none;
    color: white;
    padding: 5px 50px;
}
ul div a {
    list-style: none;
    color: white;
    text-decoration: none;
}
#subheading {
    font-size: small;
}

.opcion-hombre {
    float: left;
    overflow: hidden;
}

.hombre-drop {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
.hombre-drop a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.hombre-drop a:hover {
    background-color: #ddd;
}
.opcion-hombre:hover .hombre-drop {
    display: block;
}



.opcion-mujer {
    float: left;
    overflow: hidden;
}
.mujer-drop {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.mujer-drop a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.mujer-drop a:hover {
    background-color: #ddd;
}
.opcion-mujer:hover .mujer-drop {
    display: block;
}




.opcion-accesorios {
    float: left;
    overflow: hidden;
}
.accesorios-drop {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.accesorios-drop a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.accesorios-drop a:hover {
    background-color: #ddd;
}
.opcion-accesorios:hover .accesorios-drop {
    display: block;
}


.opcion-ofertas {
    float: left;
    overflow: hidden;
}
.ofertas-drop {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.ofertas-drop a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.ofertas-drop a:hover {
    background-color: #ddd;
}
.opcion-ofertas:hover .ofertas-drop {
    display: block;
}


.icono-busqueda {
    color: white;
}